:root {
    --main-padding: 0 70px;
}

.flex-container {
    display: flex;
}

body {
    margin: auto;
}

a {
    text-decoration: none;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    #main-header {
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.2);
        height: 80px;
        z-index: 2;
        padding: var(--main-padding);

    }

    a {
        color: white;
    }

    nav {
        align-items: center;
        gap: 20px;

        #social-media {
            padding: 10px;
            border-left: 1px solid white;
            border-right: 1px solid white;

        }

        ul {
            gap: 20px;
        }

        button {
            background: none;
            color: white;
            border: none;
        }
    }
}

main {
    padding: 70px 0;
    background-color: #F0F0F0;

    .articles {
        padding: var(--main-padding);

        #nav {
            gap: 20px;
            padding: 30px 0;

            a {
                color: black;

                &:active {
                    color: #E5D283;
                }
            }
        }

        #most-view {
            flex-wrap: wrap;
            gap: 20px;

            p {
                margin: 0;
            }

            article {
                width: 400px;
                border-radius: 10px;
                background-color: #F7F7F7;

                .auther-container {
                    padding: 20px;
                    margin-top: 20px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

        }

        .article-img {
            width: 400px;
            height: 400px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    #middle-img {
        padding: 150px 0;
        position: relative;

        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

        #middle-img-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            width: 400px;
            flex-direction: column;
            align-items: center;
        }

        ul {
            width: fit-content;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }
    }

    #editors-pick {
        padding: var(--main-padding);

        #editors-pick-container {
            padding: 70px 0;
            flex-wrap: wrap;
            gap: 100px;

            article {
                width: 400px;
                border-radius: 10px;
                background-color: #F7F7F7;
            }

            img {
                width: 400px;
                height: 400px;
                object-fit: cover;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    }

    .img-container {
        position: relative;

        ul {
            position: absolute;
            bottom: 350px;
            left: 310px;
            color: #F7F7F7;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }

    }

    .article-description {
        padding: 20px;
    }

}

footer {
    color: #F0F0F0;
    a {
        color: white;
    }
    section {
        padding: 70px 70px;
        flex-wrap: wrap;
        gap: 150px;
        background-color: #333333;
        ul{
            gap:20px
        }
    }

    #footer-end {
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.7);
        padding: var(--main-padding);
    }
}
@media screen and (max-width: 720px) {
    :root {
        --main-padding: 0 20px;
    }
  }